---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

Thank you for visiting my homepage. 
<p> </p>
<p> </p>
<b>Updates:</b>
<p> </p>
Below is some upcoming conferences that I will be attending. Please come to my sessions and discuss if you are interested. 
<p> </p>
* TRB conference, dissertation research on <i>multitasking and travel affection</i> and <i> national-scale direct-demand models of bicycle and pedestrian traffic</i> @Washington, DC from Jan 7-11, 2018.
<p> </p>
* ACSP conference, dissertation research on <i>multitasking and travel affection</i> @Denver, CO on Oct 12th, 2017. 
<p> </p>
* ISEE conference, <i>the built environment and active travel</i>  @Sydney, Australia on Sep 25th, 2017.
<p> </p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
