---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<img src="https://raw.githubusercontent.com/huyenle1/huyenle1.github.io/master/traffic_2.jpg" style="width:350px px;">
<p></p>

Welcome to my website! 
<p> </p>
<p> </p>
Below are my current research topics:
<p> </p>
- Transport and energy demand.<p> </p>
- Travel-activity satisfaction, attitude, and emotions/mood.<p> </p>
- Built environment and physical/mental health.
- Applied data analytics.
<p> </p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
