---
layout: archive
---


Welcome to The Golden Compass workshop website! The goal of this workshop is to create a safe space for training and sharing experiences among foreign national women 
geospatial scientists and promote success in their career, leadership, and life in the US.
<p> </p>
<p> </p>
This is an in-person networking opportunity for women geospatial scientists who are foreign nationals and working in the US academic 
institutions. These women form a special group of scholars who are likely to be women of color, non-native English speakers (with English 
as their second language), and may lack the social, economic, and cultural capital needed to fully take advantage of their talent and 
maximize their career impacts. As qualified academic professionals, these women have rich subject matter expertise. The challenges they 
face in the workplace are related to their gender, cultural background, and social status in the U.S. All participants will share their 
unique experiences and challenges, as well as strategies for their success. 
<p> </p>
This event involves a one-and-a-half day networking and mentoring workshop, in Denver, Colorado on May 20-21, 2022. All costs will be covered. 
We are closely monitoring the COVID-19 situation with the highest priority of safety of all our participants. 
<p></p>

<b>Workshop sponsors</b>: 
<p></p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> --> <img src="https://raw.githubusercontent.com/goldencompassworkshop/goldencompassworkshop.github.io/master/
trelis-logo.webp" style="width:200px px;"> 
<p></p> 
<img src="https://raw.githubusercontent.com/goldencompassworkshop/goldencompassworkshop.github.io/master/
ucgis-logo.png" style="width:200px px;"> <img src="https://raw.githubusercontent.com/goldencompassworkshop/goldencompassworkshop.github.io/master/
AAG-logo.png" style="width:200px px;"> <img src="https://raw.githubusercontent.com/goldencompassworkshop/goldencompassworkshop.github.io/master/
unco-logo.png" style="width:200px px;">


<p> </p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
